# ==========================================
# CONFIGURAÇÃO DE EXEMPLO (VM2)
# Renomeie este arquivo para .env e preencha os valores
# ==========================================

# WordPress Multisite
WP_DB_NAME=wordpress
WP_DB_USER=seu_usuario_aqui
WP_DB_PASSWORD=sua_senha_secreta
WP_DB_HOST=mariadb:3306
WP_MULTISITE=1
WP_NETWORK_TYPE=subdomain

# MariaDB WordPress
MARIADB_ROOT_PASSWORD=sua_senha_root_aqui
MARIADB_DATABASE=wordpress
MARIADB_USER=seu_usuario_aqui
MARIADB_PASSWORD=sua_senha_secreta

# MariaDB Backend Java (Planejamento)
MARIADB_DATABASE_BACKEND=app_java
MARIADB_USER_BACKEND=seu_usuario_java
MARIADB_PASSWORD_BACKEND=sua_senha_java

# MongoDB
MONGO_INITDB_ROOT_USERNAME=seu_usuario_mongo
MONGO_INITDB_ROOT_PASSWORD=sua_senha_mongo