# ==============================
# Variáveis de ambiente - VM2
# ==============================

# WordPress Multisite
WP_DB_NAME=wordpress_demo
WP_DB_USER=wp_demo_user
WP_DB_PASSWORD=wp_demo_pass
WP_DB_HOST=mariadb:3306
WP_MULTISITE=1
WP_NETWORK_TYPE=subdomain

# MariaDB WordPress
MARIADB_ROOT_PASSWORD=root_demo
MARIADB_DATABASE=wordpress_demo
MARIADB_USER=wp_demo_user
MARIADB_PASSWORD=wp_demo_pass

# MariaDB Backend Java
JAVA_DB_NAME=backend_demo
JAVA_DB_USER=java_demo_user
JAVA_DB_PASSWORD=java_demo_pass

# MongoDB
MONGO_INITDB_ROOT_USERNAME=mongo_demo_user
MONGO_INITDB_ROOT_PASSWORD=mongo_demo_pass