# --- SEGURANÇA (Arquivos Sensíveis) ---
.env
**/.env
*.pem
*.key
*.crt

# --- BANCO DE DADOS E VOLUMES (Universal) ---
# Ignora qualquer pasta que termine com _data ou contenha /data/
**/*_data/
**/data/
**/mariadb/
**/mongodb/

# --- WORDPRESS (Sua lógica preferida) ---
wordpress/*
!wordpress/docker-compose.yml

# --- SISTEMA ---
*.log
*.tmp
.DS_Store
